<a href="https://colab.research.google.com/github/gbalbao/pdteste/blob/main/raccoonpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#PS RACCOON utilizando pandas

from base64 import decode
from re import X
from tkinter.tix import DisplayStyle
import pandas as pd 
import requests
import urllib
import json
from IPython.display import display
import numpy as np

In [3]:
#PLANILHA DIAS
url =  'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_shows'
handle = urllib.request.urlopen(url)
shows = handle.read().decode()
g = pd.read_json(shows)
g_df = pd.DataFrame(g)
display(g_df)

print(list(g.columns))

     Nascent Letter  Symbolic Toy  Terrestrial Chair
ano            2020          2020               2020
dia               2             3                  1
mes               1             1                  1

['Nascent Letter', 'Symbolic Toy', 'Terrestrial Chair']

In [4]:
# PLANILHA GASTOS
url2 = 'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_compras'
handle2 = urllib.request.urlopen(url2)
gastos = handle2.read().decode()
gastos_df = pd.DataFrame(data = [x.split(',') for x in gastos.split('\r\n')], columns = ['nome' , 'show', 'gastos'])
#gastos_df = pd.DataFrame(data =[x.split(',') for x in gastos.split('\r\n')] , columns = [gastos_df.iloc[0]])
#gastos_df.colums = [gastos_df.iloc[0]]
gastos_df = gastos_df.drop([0])
display(gastos_df)
#columns=None

                    nome            show   gastos
1            Joseph Wray    Symbolic Toy  3142.35
2         Barbara Mcneil    Symbolic Toy  2431.78
3     Eduardo Espenshade    Symbolic Toy   386.32
4            Lucia Hayes    Symbolic Toy  3373.49
5        Johnny Hairston    Symbolic Toy  2805.88
..                   ...             ...      ...
497  Christopher Mueller    Symbolic Toy  1797.44
498  Christopher Mueller  Nascent Letter  1511.91
499  Christopher Mueller  Nascent Letter  3439.69
500  Christopher Mueller  Nascent Letter  1635.48
501                                 None     None

[501 rows x 3 columns]

In [5]:
# PLANILHA VENDAS INGRESSOS
url3 =  'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_ingressos'
handle3 = urllib.request.urlopen(url3)
vendas = handle3.read().decode()
vendas_df = pd.DataFrame(json.loads(vendas)) #comando json.loads serve para transformar a string em lista de dicionários
display(vendas_df)

     ano  dia  mes               nome                 status           tipo
0   2020    1    1  Benjamin Mcdonald          Nao Concluido            VIP
1   2020    1    1   Mitchell Kostyla          Nao Concluido            VIP
2   2020    1    1       Gerald Allen          Nao Concluido            VIP
3   2020    1    1     Frederick Bank  Problema no Pagamento            VIP
4   2020    1    1           Tina Yee          Nao Concluido            VIP
..   ...  ...  ...                ...                    ...            ...
95  2020    3    1    Richard Jimenez          Nao Concluido  Pista Premium
96  2020    3    1   Curtis Hernandez  Problema no Pagamento  Pista Premium
97  2020    3    1        Alice Gamba              Concluido  Pista Premium
98  2020    3    1       Brenda Kozak  Problema no Pagamento  Pista Premium
99  2020    3    1  Robert Copenhaver              Concluido  Pista Premium

[100 rows x 6 columns]

In [6]:

#QUESTÃO 1 - Média de gastos com a pista
# agrupar por quem teve compra concluida e comprou pista 
# ir na planilha de gastos e somar os gastos do dia 
# para filtrar: query() (passa os filtros como parametro) ex: nome_df.query('status == concluido')
# para filtrar: loc() (passa a coluna que deseja onde esteja o filtro) ex: nome_df.loc(nomedf('status')==concluido)

# Tentativas falhas:
# display(vendas_df.loc((vendas_df['status']== 'Concluido') & (vendas_df['tipo'] == 'Pista')))
# display(vendas_df.loc((vendas_df['status'] == 'Concluido') & (vendas_df['tipo']=='Pista')))
# display(vendas_df.loc((vendas_df['status']== 'Concluido') & (vendas_df['tipo'] == 'Pista')))
# vendas_df.loc[(vendas_df["status"] == "Concluido" & vendas_df['tipo']=="Pista")]

# Forma correta
pista_compra_df = pd.DataFrame(vendas_df.loc[(vendas_df['status']=='Concluido')].loc[(vendas_df['tipo'] == 'Pista')])

#Com o dataframe acima, usar o inner para juntar essa planilha com a planilha de gastos, através do nome da pessoa (chave)
# Usando o merge

pista_gasto_df = pd.merge(pista_compra_df,gastos_df)
display(pista_gasto_df)

pista_gasto_df['gastos']= pista_gasto_df['gastos'].astype(float)
media_pista = pista_gasto_df['gastos'].mean()

print('A média de gastos com os ingressos do tipo pista foi de' , media_pista.round(2))

,ano,dia,mes,nome,status,tipo,show,gastos
0,2020,1,1,Donna Wal,Concluido,Pista,Symbolic Toy,2851.83
1,2020,1,1,Donna Wal,Concluido,Pista,Symbolic Toy,427.96
2,2020,1,1,Donna Wal,Concluido,Pista,Nascent Letter,2730.95
3,2020,1,1,Donna Wal,Concluido,Pista,Nascent Letter,3102.11
4,2020,1,1,Donna Wal,Concluido,Pista,Terrestrial Chair,2841.61
5,2020,1,1,Gretchen Hinojosa,Concluido,Pista,Terrestrial Chair,2867.6
6,2020,2,1,Lyle Branch,Concluido,Pista,Symbolic Toy,1503.41
7,2020,2,1,Lyle Branch,Concluido,Pista,Symbolic Toy,2666.89
8,2020,2,1,Lyle Branch,Concluido,Pista,Nascent Letter,3162.55
9,2020,2,1,Lyle Branch,Concluido,Pista,Terrestrial Chair,2474.61
10,2020,2,1,John Rich,Concluido,Pista,Symbolic Toy,1935.54
11,2020,2,1,John Rich,Concluido,Pista,Symbolic Toy,16.05
12,2020,2,1,John Rich,Concluido,Pista,Symbolic Toy,814.57
13,2020,2,1,John Rich,Concluido,Pista,Nascent Letter,2411.3
14,2020,2,1,John Rich,Concluido,Pista,Nascent Letter,1331.66
15,2020,2,1,John Rich,Concluido,Pista,Nascent Letter,421.03
16,2020,2,1,John Rich,Concluido,Pista,Nascent Letter,575.63
17,2020,2,1,John Rich,Concluido,Pista,Terrestrial Chair,1347.37
18,2020,2,1,John Rich,Concluido,Pista,Terrestrial Chair,129.45
19,2020,2,1,John Rich,Concluido,Pista,Terrestrial Chair,2901.19
20,2020,2,1,John Rich,Concluido,Pista,Terrestrial Chair,2714.06
21,2020,3,1,Richard Culpepper,Concluido,Pista,Symbolic Toy,398.35
22,2020,3,1,Richard Culpepper,Concluido,Pista,Nascent Letter,2439.13
23,2020,3,1,Young Besaw,Concluido,Pista,Symbolic Toy,3086.46
24,2020,3,1,Young Besaw,Concluido,Pista,Symbolic Toy,2811.74
25,2020,3,1,Lucia Hayes,Concluido,Pista,Symbolic Toy,3373.49
26,2020,3,1,Mitchell Kostyla,Concluido,Pista,Symbolic Toy,1731.06
27,2020,3,1,Mitchell Kostyla,Concluido,Pista,Symbolic Toy,2901.19
28,2020,3,1,Mitchell Kostyla,Concluido,Pista,Symbolic Toy,3091.97
29,2020,3,1,Mitchell Kostyla,Concluido,Pista,Nascent Letter,1658.48
30,2020,3,1,Mitchell Kostyla,Concluido,Pista,Nascent Letter,889.63
31,2020,3,1,Mitchell Kostyla,Concluido,Pista,Nascent Letter,3348.9
32,2020,3,1,Mitchell Kostyla,Concluido,Pista,Terrestrial Chair,1558.09
33,2020,3,1,Mitchell Kostyla,Concluido,Pista,Terrestrial Chair,2363.19
34,2020,3,1,Mitchell Kostyla,Concluido,Pista,Terrestrial Chair,386.05
35,2020,3,1,Mitchell Kostyla,Concluido,Pista,Terrestrial Chair,428.81

A média de gastos com os ingressos do tipo pista foi de 1935.94

In [7]:
pista_conc_df = pd.DataFrame(vendas_df.loc[(vendas_df['status']=='Concluido')].loc[(vendas_df['tipo'] == 'Pista')])
display(pista_conc_df)

     ano  dia  mes               nome     status   tipo
35  2020    1    1          Donna Wal  Concluido  Pista
41  2020    1    1  Gretchen Hinojosa  Concluido  Pista
47  2020    2    1        Lyle Branch  Concluido  Pista
52  2020    2    1          John Rich  Concluido  Pista
53  2020    2    1   Courtney Edwards  Concluido  Pista
54  2020    3    1  Richard Culpepper  Concluido  Pista
55  2020    3    1        Young Besaw  Concluido  Pista
56  2020    3    1        Lucia Hayes  Concluido  Pista
58  2020    3    1     Marcela Nelson  Concluido  Pista
59  2020    3    1      Sandra Duncan  Concluido  Pista
60  2020    3    1       Miguel Ramey  Concluido  Pista
63  2020    3    1   Mitchell Kostyla  Concluido  Pista

In [ ]:
# Questão 2 - Quem não compareceu ao show 
# São aqueles que tiveram as compras concluídas mas que não estão nos respectivos dias dos gastos
vc_df = vendas_df.loc[vendas_df['status']=='Concluido']

gastos_df

#pd.merge(pd.merge(vc_df,gastos_df),g_df)
pd.merge(vc_df,gastos_df)

## Substituir a coluna 'show' da planilha de gastos pelo dia - 

#gastos_renomeado = gastos_df.replace('Symbolic Toy',3)

#gastos_ren = gastos_df.replace(list(g.columns),[str(x) for x in g.loc['dia'] ])
# Comando acima deu recorreu em erro ao utilizar o merge pois a coluna 'dia' da tabela de vendas
# está em float e a de gastos estava em str

gastos_ren = gastos_df.replace(list(g.columns), list(g.loc['dia']))

gastos_ren.rename(columns ={'show':'dia'},inplace=True)
inner = pd.merge(vc_df,gastos_ren)
#display(pd.merge(vc_df,gastos_ren).head(10))

# Portanto, a tabela acima nos fornece todos aqueles que compraram com a agencia
# e foram ao show. Precisamos agora encontrar aqueles que compraram mas que não estão na tabela

outerna = pd.merge(vc_df,gastos_ren, how = 'outer')
outer = outerna.dropna(subset=['mes']) # com o dropna dessa forma conseguimos retirar as pessoas que compraram de outros concorrentes
outer['gastos'].fillna('Nenhum' , inplace = True) # substituindo valores NaN por 'Nenhum'
#display(outer)  

# o que queremos são as pessoas que tem NaN em 'gastos' mas que o status é concluido e nao nulo
display(outer.loc[outer['gastos'] == 'Nenhum']['nome']) # pessoas que compraram e não foram